<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar livro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formBook" (ngSubmit)="saveBook()">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Autor</ion-label>
          <ion-input formControlName="author"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Idioma</ion-label>
          <ion-input formControlName="language"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Ano</ion-label>
          <ion-input formControlName="year"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Número de páginas</ion-label>
          <ion-input formControlName="numberofpages"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button type="submit">Cadastrar</ion-button>
  </form>
</ion-content>